* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #70c5ce;
    color: white;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

canvas {
    border: 2px solid black;
    background-color: #87CEEB;
}
